.app-layout {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #f8fafc;
  color: #0f172a;

  --header-height: 64px;
  --body-height: calc(100dvh - var(--header-height) - 1px);
}

@media (max-width: 640px) {
  .app-layout {
    --header-height: 56px;
  }
}

.app-main {
  max-height: var(--body-height);
}
